nav li a{
    font-weight: bold;
    padding-right: 30px;
    margin-left: 50px;
}
input{
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}
button{
    padding: 10px;
    background-color: lightsalmon;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4,.5fr);
    grid-gap: 20px;
}
.meal-image{
    width: 400px;
    height: 350px;
    align-items: center;
    border-radius: 10px;
}
.meal{
    width: 400px;
    height: 420px;
    background-color: lightgray;
    margin-top: 30px;
    border-radius: 10px;
}
.meal h4{
    margin-top: 18px;
}
.ingredients{
    background-color: lightgray;
    margin-top: 40px;
    margin: auto;
  width: 50%;
  padding: 10px;
}
.info-section{
    width: 200px;
    position: absolute;
    bottom: 1000px;
}
#meal-details{
    display:none;
}